/* You can add global styles to this file, and also import other style files */
/* border box declartion */
html {
    box-sizing: border-box;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-color: rgb(10, 10, 233);
    color: white;
    font-family: 'Libre Baskerville', serif;
  }