<h1>Not Jeopardy!</h1>
<div class="usernameContainer" *ngIf="!capturedUsername">
  <form #usernameForm="ngForm" (keydown.enter)="getUsername(usernameForm)">
    <div class="nameInputContainer">
      <label for="">Your Name: </label>
      <input
        class="usernameInput"
        type="text"
        [(ngModel)]="username"
        name="username"
        required
      />
    </div>
    <div class="podium">
      <p class="username">{{ username }}</p>
    </div>

  </form>
</div>
<div>
  <a routerLink="/quiz" routerLinkActive="active" *ngIf="showStart"
    >Welcome, {{ username }}! Click to get started! </a
  >
</div>
